body{
    font-size:1.75rem;
    margin:0;
    padding:0;
    background-color:#f6f6f6;
    color:#000;
    font-family:helvetica,sans-serif;
    line-height:1.6;
}
h1{
    font-size:1rem;
}
#inner{
    width:75rem;
    padding: 2rem 4rem;
    box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
    line-height:1.3;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,pre{
    margin-top:2rem;
    margin-bottom:2rem;
}
pre{
}
ul,ol{
    margin-left:0;
    padding-left:3rem;
}
pre.code{
    font-size:.9em;
    line-height:1.3;
    padding: 1.5rem 2rem;
    color:#666;
    border:1px solid #eee;
    border-left-width:1rem;
    background-color:rgba(255,255,255,0.5);
}
.api-detail{
    background:#fff;
    padding:.5rem 2.5rem;
    margin:2rem 0;
    box-shadow:0 0 .25rem .25rem rgba(0,0,0,0.1);
    border-radius:.25rem;
}
h2{
    font-size:3.5rem;
    font-weight:normal;
    color:rgba(0,0,0,0.5);
}
.api-detail h3 a[href]{
    color:inherit;
    text-decoration:inherit;
}
table{
    border-collapse:collapse;
    font-family:helvetica,sans-serif;
    line-height:1.3;
    font-size:.8em;
    margin:2rem 0;
}
th,td,caption{
    border:1px solid #ddd;
    vertical-align: top;
    text-align: left;
    padding:.5rem 1rem;
    font-weight:normal;
}
caption{
    border-bottom:none;
}
caption,
th.caption{
    background:#eee;
}
thead th{
    background:#f6f6f6;
}
tbody tr:nth-child(2n) td{
    background:#f6f6f6;
}
table ul,
table ol{
    margin-top:0;
    margin-bottom:0;
}
table li{
    margin-top:1rem;
    margin-bottom:1rem;
}
#nav{
    line-height:1.3;
    background:#777;
    color:#eee;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    width:25rem;
    border-left:1rem solid #444;
    box-sizing:border-box;
    margin:0;
    padding:0;
    list-style:none;
    overflow:auto;
    box-shadow:0 0 1rem rgba(0,0,0,0.5);
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    font-size:.8em;
}
#nav li{
    border-bottom:1px solid #444;
}
#nav li a{
    box-shadow:0 1px 0 rgba(255,255,255,0.1) inset;
    display:block;
    padding:.6rem 1rem;
    color:inherit;
    text-decoration: inherit;
}
#nav li.item-h3 a{
    background:#666;
}
#nav .tldr{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
    font-size:.7em;
    opacity:.5;
}
code{
    padding:0 .2em;
    opacity:.5;
}